body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

.text{
  color: black;
  font-family: "Gill Sans", sans-serif;
}
 
#header-nav {
  background-color: lightyellow;
  border-radius: 0;
  border: 3px solid black;
}

#title{
  padding: 5px;
  padding-left: 30px;
  float: left;
}

.navBarButton{
  padding: 10px;
  float:right;
}

#collapsable-nav{
  padding-left: 30px;
  text-align: center;
}





#titleText{
  font-size: 40px;
}


#subject{
  text-align: center;
}

#subjectText{
  font-size: 30px;
}

.item_box{

  height: 200px;
  padding:10px;
}



.contents{
  margin: auto;
  width: 90%;
  background-color: lightblue;


}

.caterory{
  text-align: center;
}

.breedName{
  padding: 10px;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

.explanation{
  margin: auto;
  width: 90%;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: .75;
}


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .itemBoxx{padding-top:200px;}
  .itemBoxxx{padding-top:430px}
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
.itemBoxx{padding-top:1000px;}
  .itemBoxxx{padding-top:1000px}
}

