* {
    box-sizing: border-box;
  }
  
  body{
      font-family: Gill Sans;
      font-size: 20px;
  }
  
  h1 {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .item_box{
      height: 200px;
  }
  
  .text {
      margin: auto;
      width: 90%;
      border: 1px solid black;
        height: 180px;
        background-color: grey;
  }
  
  .title{
      float: right;
      width: 180px;
      height: 30px;
      background-color: skyblue;
      border: 1px solid black;
      margin: auto;
        padding: 5px;
        text-align: center;
  }
  #chickenTitle{background-color: skyblue;}
  #beefTitle{background-color: palegreen;}
  #sushiTitle{background-color: palevioletred;}
  
  .lorem{
      float: right;
      margin-left: 10px;
      margin-right: 10px;
      background-color: grey;
  }
  
  
  .row{
      width: 100%;
  }
  
  @media (min-width: 992px) {
      .col-lg-4{
          float: left;
          width: 33.33%;
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .col-md-6{
          float: left;
          width: 50%;
      }
      .col-md-12{
          float: left;
          width: 100%;
      }
      .md12{
          width: 95%;
          height: 150px;
      }
  }
  
  @media (max-width: 767px) {
      .col-sml-12{
          float: left;
          width: 100%;
      }
  }
  